body {
  background-image: url('/media/bg.png');
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.main {
  position: relative;
  height: 500px;
}
.player-column {
  background: rgba(0, 0, 0, .7);
  color: white;
  width: 180px;
  text-align: left;
}

.player-column div {
  padding: 3px 3px;
}

.player-score {
  float: right;
}

.my-player-name {
  color: lightblue;
}

.drawing-player-name::after {
  content: " \f040";
  font-family: FontAwesome;
}

.canvas-column {
  width: 800px;
  position: relative;
}

.chat-column {
  background: rgba(0, 0, 0, .7);
  color: white;
  width: 240px;
  text-align: left;
}

.column {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  position: relative;
  top: 0;
  bottom: 0;
}

#canvas {
  cursor: crosshair;
  background-color: white;
}

#chatbox-input {
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  height: 21px;
}

#chatbox-output {
  height: calc(100% - 21px);
  overflow-y: scroll;
}

#chatbox-output p {
  overflow-wrap: break-word;
  margin: 0;
  padding: 3px 1px;
}

#chatbox-output p:nth-child(even) {
  background: rgba(255, 255, 255, .1);
}

.c1, .c3 {
  width: 180px;
  text-align: center;
}

.c2 {
  width: 800px;
  padding: 10px 0;
  text-align: center;
}

button {
  cursor: pointer;
}

#message {
  width: 100%;
  box-sizing: border-box;
}

#chatbox-input {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

#secret-word {
  margin-left: 300px
}

#clock {
  margin-left: 300px;
}

#navbar {
  background-color: white;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}

#line-width, #clear-canvas-btn {
  vertical-align: top;
  margin-top: 20px;
}

.main {
  text-align: center;
}

#main-bottom {
  text-align: center;
}

.colour-btn {
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 25px;
  outline: none;
}

#colour-panel {
  width: 220px;
  display: inline-block;
}

#canvas-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1.6em;
  display: none;
  padding-top: 120px;
  background: rgba(0, 0, 0, .7);
}

.last-player-drawing {
  color: lightblue;
}

.last-word {
  color: lightgreen;
}

.next-player-drawing{
  color: limegreen;
}

.next-player-container {
  margin-top: 80px;
}