<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="main">
      <div id="playerslist" class='player-column column'>
      </div>
      <div class='canvas-column column'>
      <canvas id="canvas" width="800" height="500"></canvas>
      </div>
      <div class='chat-column column'>
        <div id="chatbox-output">

        </div>
        <div id="chatbox-input">
          <form id="message_form">
            <input id="message" type="text">
            <input id="send_message" type="submit" value="Send">
          </form>
        </div>
      </div>
    </div>
  </body>
</html> 